h1 {
  color : #ff5700;
}

h1 em {
  color : #474747;
}

#main-title i {
  color : #474747;
}

.emphasis {
  color : #9494ff;
}

ul strong {
  color : #9494ff;
}

#results img {
  width : 480px;
  height : 340px;
}

#results p {
  font-size: 13px;
}

#network img {
  width : 1000px;
  height : 600px;
}
